@import "../../styles//variables";

.header {
  background-color: $primaryColor;
  color: $textColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;

  nav {
    order: 1;
  }
  ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
  }
  .header:first-child {
    order: 3;
    margin-left: auto;
    padding: 0;
  }
  div {
    display: flex;
    align-items: center;
    margin-left: 10px;
    span {
      margin-left: 10px;
    }
  }

  .dropdownMenu button {
    text-transform: none;
    color: $textColor !important;
  }

  .wyloguj {
    order: 2;
    margin-right: 1rem;
    cursor: pointer;
  }
}



@media screen and (max-width: 768px) {
  .podsumowanie {
    display: none;
  }
  .nav {
    display:none;
  }
}