.hamburger {
    order: 3;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.sideMenu {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
    .sideMenu {
      visibility: visible;
    }
}