@import '../../styles/variables';

.section {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.input {
    background-color: $inputBg;
    margin: 0.5rem;
}

.sendButton {
    width: 70%;
    height: 3rem;
    max-width: 20rem;
    display: flex;
    margin: 1rem auto 0 auto;
}