.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container div {
    width: auto;
}

.container div div input {
    width: 20rem;
}

.sendButton {
    width: auto;
}