.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    border-color: #c3e6cb;
    text-align: center;
    z-index: 9999;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    animation: slide-down 300ms ease-out forwards;
    overflow: auto;
  }
  
  .modal img {
    position: inherit;
    top: 10vh;
    transition: 0.5s;
    margin: auto;
    width: 80vw;
    max-width: 900px;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.622);
  }

  .wrapper {
    position: relative;
    margin: auto;
    z-index: 19;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    border: none;
    border-radius: 0 0 0 0.86rem;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.75);
    font-size: 2.5rem;
    background-color: rgba(92, 183, 220, 0.7);
    z-index: 99999;
  }
  
  .close:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }

  @media screen and (max-width: 768px) {
    .modal {
      padding: 0;
    }
    .modal img{
      width: 95vw;
    }
    .close {
      font-size: 1.5rem;
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }