.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 13vh;
    left: 5%;
    width: 90%;
    background-color: #d4edda;
    padding: 1rem;
    border-color: #c3e6cb;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }

  .wrapper {
    display: flex;
  }

  .wrapper span {
    font-weight: bold;
    padding: 0 1rem;
  }

  .close {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0 0.86rem 0.86rem 0;
    cursor: pointer;
    color:rgba(0, 0, 0, 0.75);
    font-size: 1.5rem;
  }
  
  .close:hover {
    background-color: rgba(10, 33, 42, 0.671);
    color: white;
  }
  
  @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }